# Google Drive Integration settings
# Path to your Service Account JSON key or just map it from native environment if using GCP
GOOGLE_APPLICATION_CREDENTIALS=./gn-tracing.json

# (Optional) ID of the Google Drive Folder to upload videos to
GOOGLE_DRIVE_FOLDER_ID=

# Tracing Server settings
PORT=3000

# OPTION 2: Use OAuth2 for Personal @gmail.com accounts
# If using a personal account (bypassing the 0-byte Service Account Quota), comment out GOOGLE_APPLICATION_CREDENTIALS
# and instead fill exactly these 3 variables using Google OAuth Playground:
GOOGLE_CLIENT_ID=your-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-client-secret
GOOGLE_REFRESH_TOKEN=1//your-oauth2-refresh-token
