# Google Drive Integration settings
# Path to your Service Account JSON key or just map it from native environment if using GCP
GOOGLE_APPLICATION_CREDENTIALS=./gn-tracing.json

# (Optional) ID of the Google Drive Folder to upload videos to
GOOGLE_DRIVE_FOLDER_ID=1n8Aa6_4M8BWGbjRkHCH8_pbmk8vIlJcN

# Tracing Server settings
PORT=3000

# OPTION 2: Use OAuth2 for Personal @gmail.com accounts
# If using a personal account (bypassing the 0-byte Service Account Quota), fill these 2 variables:
GOOGLE_CLIENT_ID=your-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-client-secret
# Refresh token will be generated automatically and stored in memory